<!-- Main Footer -->
<footer class="main-footer">
    <!--Widgets Section-->
    <div class="widgets-section">
        <div class="auto-container">
            <div class="row">
                <!--Big Column-->
                <div class="big-column col-xl-6 col-lg-12 col-md-12 col-sm-12">
                    <div class="row">
                        <!--Footer Column-->
                        <div class="footer-column col-xl-6 col-lg-6 col-md-6 col-sm-12">
                            <div class="footer-widget about-widget">
                                <div class="logo">
                                    <a href="index-2.html"><img src="images/logo.png" alt="" /></a>
                                </div>
                                <div class="text">
                                    <p>We develop the best process solutions along complete value chains. Two billion people each day enjoy foods produced on Dubler equipment. Having this global relevance, we are in a unique position to turn today’s global challenges into sustainable and good business.</p>           
                                </div>
                                <ul class="social-icon-two">
                                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="https://www.instagram.com/thesapacademy" target="_blank"><i class="fab fa-instagram"></i></a></li>
                                    <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                </ul>
                            </div>
                        </div>

                        <!--Footer Column-->
                        <div class="footer-column col-xl-6 col-lg-6 col-md-6 col-sm-12">
                            <!--Footer Column-->
                            <div class="footer-widget recent-posts">
                                <h2 class="widget-title">Latest News</h2>
                                 <!--Footer Column-->
                                <div class="widget-content">
                                    <div class="post">
                                        <h4><a href="/news">We won the award for best manufacturing company of the year 2022.</a></h4>
                                        <span class="date"><span class="far fa-calendar-alt"></span> February 1, 2022</span>
                                    </div>

                                    <div class="post">
                                        <h4><a href="/news">A new CTO arrives to the company. Transformation is about to happen.</a></h4>
                                        <span class="date"><span class="far fa-calendar-alt"></span> April 4, 2022</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Big Column-->
                <div class="big-column col-xl-6 col-lg-12 col-md-12 col-sm-12">
                    <div class="row">
                        <!--Footer Column-->
                        <div class="footer-column col-lg-6 col-md-6 col-sm-12">
                            <div class="footer-widget useful-links">
                                <h2 class="widget-title">Useful Links</h2>
                                <ul class="user-links">
                                    <li><a href="/">Home</a></li>
                                    <li><a href="/about">About Us</a></li>
                                    <li><a href="/services"">Services</a></li>
                                    <li><a href="/news">News</a></li>
                                    <li><a href="/contact">Contact Us</a></li>
                                </ul>
                            </div>
                        </div>

                        <!--Footer Column-->
                        <div class="footer-column col-lg-6 col-md-6 col-sm-12">
                            <!--Footer Column-->
                            <div class="footer-widget contact-widget">
                                <h2 class="widget-title">Contact Us</h2>
                                 <!--Footer Column-->
                                <div class="widget-content">
                                    <ul class="contact-list">
                                        <li>
                                            <span class="icon flaticon-clock"></span>
                                            <div class="text">Mon - Fri: 09:00 - 18:00</div>
                                        </li>

                                        <li>
                                            <span class="icon flaticon-call-1"></span>
                                            <div class="text"><a href="tel:+1(925)477-7143">+1 (925) 477-7143</a></div>
                                        </li>

                                        <li>
                                            <span class="icon flaticon-paper-plane"></span>
                                            <div class="text"><a href="mailto:Godfrey@dubler.com">Godfrey@dubler.com</a></div>
                                        </li>

                                        <li>
                                            <span class="icon flaticon-worldwide"></span>
                                            <div class="text">13005 Greenville Avenue<br> California, TX 70240</div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Footer Bottom-->
    <div class="footer-bottom">                    
        <div class="auto-container">
            <div class="inner-container clearfix">
                <div class="footer-nav">
                    <ul class="clearfix">
                       <li><a href="#">Privacy Policy</a></li> 
                       <li><a href="#">Contact</a></li> 
                       <li><a href="#">Supplier</a></li>  
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- End Footer -->