<!-- Preloader -->
<div class="preloader"></div>

<!-- Sidenav Bar -->
<section class="sidenav-bar">
    <div class="nav-box">
        <div class="inner-box">
            <div class="upper-box">
                <div class="btn-box"><button class="close-btn"><span class="fa fa-times"></span></button></div>
            </div>

            <!-- .Side Nav -->
            <nav class="side-nav">
                <ul class="navigation clearfix" id="nav">
                    <li class="current dropdown"><a href="/">Home</a>
                    </li>
                    <li class="dropdown"><a href="about">About</a>
                    </li>
                    <li class="dropdown"><a href="news">Blog</a>
                    </li>
                    <li><a href="contact">Contact</a></li>
                </ul> 
            </nav><!-- /.Side-menu -->

            <div class="contact-info-box">
                <!--Info Box-->
                <div class="info-box">
                    <div class="icon-box"><span class="fa fa-home"></span></div>
                    <p>13005 Greenville Avenue <br>United Kingdom, TX 70240</p>
                </div>

                <!--Info Box-->
                <div class="info-box">
                    <div class="icon-box"><span class="far fa-clock"></span></div>
                    <p>Mon - Fri: 09:00 - 18:00</p>
                    <p>Sunday --- Close</p>
                </div>

                <!--Info Box-->
                <div class="info-box">
                    <div class="icon-box"><span class="far fa-envelope"></span></div>
                    <p><a href="tel:(888)123456789">(888) 123 456 789</a></p>
                    <p><a href="mailto:support@example.com">support@example.com</a></p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End Sidenav Bar -->

<!-- Start Main Content -->
<main id="content">
        
    <!-- Main Header-->
    <header class="main-header">
        <div class="outer-container">
            <div class="main-box clearfix">
                <div class="logo-box">
                    <div class="logo"><a href="/"><img src="images/logo.png" alt="" title="" width="200px" height="120px"></a></div>
                </div>

                
                <div class="outer-box clearfix">
                    <!-- Shoppping Car -->
                    <div class="cart-btn">
                        <button><i class="icon flaticon-shopping-bag"></i> <span class="count">2</span></button>

                        <div class="shopping-cart">
                            <div class="shopping-cart-header">
                                <i class="flaticon-shopping-cart-2 cart-icon"></i><span class="badge">2</span>
                                <div class="shopping-cart-total">
                                    <span class="lighter-text">Total:</span>
                                    <span class="main-color-text">$60.00</span>
                                </div>
                            </div>

                            <a href="/" class="theme-btn btn-style-one"><span class="btn-title">Checkout</span></a>
                        </div> <!--end shopping-cart -->
                    </div>

                    <!-- Search Btn -->
                    <div class="search-box">
                        <button class="search-btn"><i class="fa fa-search"></i></button>
                    </div>
                    
                    <!-- Btn box -->
                    <div class="btn-box no-touch"><button class="nav-toggler"><span></span></button></div>
                </div>
            </div>
        </div>
    </header>
    <!--End Main Header -->

    <!-- Header Search -->
    <div class="search-popup">
        <button class="close-search"><span class="fa fa-long-arrow-alt-up"></span></button>
        <form method="post" action="#">
            <div class="form-group">
                <input type="search" name="search-field" value="" placeholder="Search" required="">
                <button type="submit"><i class="fa fa-search"></i></button>
            </div>
        </form>
    </div>
    <!-- End Header Search -->